.stackElements {
	display: flex;
	gap: 2px;
	margin-top: 10px;
	flex-wrap: wrap;
}

.stackEl {
	color: var(--primary-background-color);
	background: var(--primary-text-color);
	padding: 3px 7px;
	font-weight: bold;
	transition: 0.1s;
	cursor: default;
}

.stackEl:hover {
	background: var(--primary-background-color);
	color: var(--primary-text-color);
}
