.button {
	display: flex;
	border: 2px solid var(--primary-text-color);
	position: relative;
	align-items: center;
	color: var(--primary-text-color);
	background-color: transparent;
	overflow: hidden;
	font-size: var(--font-size-m);
	padding: 1.25rem;
	font-weight: 1000;
	font-size: 1.125rem;
	text-decoration: none;
	cursor: pointer; /* Добавляем курсор для интерактивности */
}

.button:hover {
	color: var(--primary-text-color-inverted);
}

.button_text {
	font-size: inherit;
	padding: 0 1.56rem;
	pointer-events: none;
	animation: 2.5s linear infinite sliding;
	position: relative; /* Добавлено для позиционирования анимации текста */
	z-index: 1; /* Текст должен быть выше анимации */
	transition: 0.4s;
}

.button_text::after {
	position: absolute;
	width: -moz-max-content;
	width: max-content;
	content: var(--btn-text);
	left: 100%;
	padding: 0 1.56rem;
}

@keyframes sliding {
	100% {
		transform: translateX(-100%);
	}
}

/* Добавляем новые стили для элемента круга */
.fillCircle {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background-color: var(--primary-text-color);
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	pointer-events: none; /* не позволяет кругу захватывать события мыши */
	z-index: 0; /* Круг под текстом */
	transition: transform 0.1s linear; /* Плавное изменение размера круга */
}
