.stock-ticker-right,
.stock-ticker-left {
	font-size: 15px;
	overflow: hidden;
	user-select: none;
	--gap: 10px;
	display: flex;
	gap: var(--gap);
	color: var(--primary-text-color);
	font-size: 30px;
	font-weight: 900;
	margin-bottom: var(--gap);
}

.stock-ticker-right ul {
	list-style: none;
	flex-shrink: 0;
	min-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: var(--gap);
	transform: translateX(calc(-100% - var(--gap)));
	animation: scroll-right 40s linear infinite;
}

.stock-ticker-left ul {
	list-style: none;
	flex-shrink: 0;
	min-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: var(--gap);
	animation: scroll-left 40s linear infinite;
}

.stock-ticker-right ul li,
.stock-ticker-left ul li {
	background-color: var(--secondary-background-color);
	text-align: center;
	padding: 20px 40px;
	flex: 1;
	border-radius: 5px;
	white-space: nowrap;
}

.stock-ticker-right:hover ul,
.stock-ticker-left:hover ul {
	animation-play-state: paused;
}

@keyframes scroll-right {
	from {
		transform: translateX(calc(-100% - var(--gap)));
	}
	to {
		transform: translateX(0);
	}
}

@keyframes scroll-left {
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}
