.container {
	padding: 400px 0;
	display: flex;
	align-items: center;
	background-color: var(--primary-background-color);
}

.content {
	display: flex;
	justify-content: center;
	gap: 55px;
	padding: 0 55px;
}

.card_header {
	display: flex;
	gap: 20px;
}

.description {
	flex: 1.8;
}

.image {
	flex: 1;
	position: relative;
}

.image img {
	position: absolute;
	top: -80px;
	max-width: 100%;
}

.col1,
.col2 {
	flex-basis: 600px;
	display: flex;
	flex-direction: column;
	gap: 55px;
}

.col1 .card:first-child {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	box-shadow: none;
	background: 0 0;
}

.card {
	position: relative;
	min-width: 350px;
	padding: 60px;
	box-sizing: border-box;
	background-color: var(--secondary-background-color);
	color: var(--primary-text-color);
	transition: border-color 0.5s ease;
	border: 1px solid var(--border-color);
}

.card::before {
	content: "";
	position: absolute;
	border: 30px solid rgba(0, 0, 0, 0); /* Используем полупрозрачный цвет, вместо `transparent` */
	border-top: 30px solid var(--primary-background-color);
	border-left: 30px solid var(--primary-background-color);
	left: -1px;
	top: -2px;
	transition: border-color 0.5s ease; /* Переход для плавной смены цвета */
}

.card::after {
	content: "";
	position: absolute;
	top: 28px;
	left: -12px;
	transform: rotate(-45deg);
	width: 82px;
	background-color: var(--border-color);
	height: 1px;
}

.card_first {
	border: none;
}

.card_first::after {
	background-color: transparent;
}

.card h2 {
	margin-bottom: 20px;
	letter-spacing: 2px;
	color: var(--primary-background-color);
	font-weight: 1000;
	font-size: 2.5rem;
}

.card h1 {
	font-size: 2.8125rem;
	margin-bottom: 20px;
	font-weight: 900;
	color: var(--textColor);
}

.card p {
	font-size: 1.125rem;
	line-height: 1.6em;
	margin-bottom: 20px;
}

.card ul li {
	position: relative;
	display: flex;
	height: 60px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.card ul li::after {
	content: "";
	position: absolute;
	border-bottom: 4px dotted var(--card-dots-color);
	width: 100%;
	bottom: 0;
}

.card ul li span {
	font-size: 1.125rem;
}

.card ul li span:nth-child(2) {
	flex: 1;
}

.card ul li span:last-child {
	color: var(--secondary-text-color);
}

.card .marker {
	color: var(--textColor);
	font-weight: 700;
}
