.section {
	background-color: var(--primary-background-color);
	padding: 0 7vw;
	overflow: hidden;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: var(--primary-text-color);
}

.header {
	display: flex;
	align-items: center;
	gap: 70px;
	padding: 40px 0;
	flex-wrap: wrap;
}

.avatarWrapper {
	flex: 1 1 180px;
	position: relative;
	aspect-ratio: 1/1;
	transition: 0.2s;
}

.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.title {
	flex-basis: 300px;
	flex-grow: 2;
	font-size: var(--font-size-xl);
	font-weight: 600;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	white-space: pre-wrap;
	gap: 20px;
}

.brand {
	display: flex;
	gap: 15px;
}

.brand__wrapper {
	display: flex;
	height: max-content;
	align-items: center;
	grid-auto-flow: 15px;
	gap: 15px;
}

.brand svg {
	width: 50px;
	height: 50px;
}

.brand svg * {
	fill: var(--primary-text-color);
}

.copyright {
	color: var(--secondary-text-color);
	height: max-content;
}

.subtitle {
	font-size: var(--font-size-l);
	font-weight: 600;
	margin-bottom: 1em;
}

.list {
	list-style: none;
	padding: 0;
}

.list li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 0.5em;
	color: var(--secondary-text-color);
}

.list li svg {
	fill: currentColor;
	width: 20px;
}

.list li:hover {
	color: var(--primary-text-color);
}

.list a {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 1920px) {
	.avatarWrapper {
		flex: 1 1 370px;
	}
}
