.themeSwitcher {
	height: 62px;
	border: none;
	padding: 15px;
	font-size: var(--font-size-m);
	font-weight: 700;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--primary-text-color);
	cursor: pointer;
	height: 70px;
	aspect-ratio: 1/1;
	position: relative;
	overflow: hidden;
}

.themeSwitcher svg {
	width: 35px;
	height: 35px;
}
.themeSwitcher:hover {
	background-color: var(--secondary-background-color);
	border-radius: 5px;
}

.ripple {
	position: fixed;
	border-radius: 50%;
	transform: scale(0);
	animation: rippleEffect 1s linear;
	background-color: var(--secondary-background-color);
	z-index: -1;
}

@keyframes rippleEffect {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

@media screen and (max-width: 1024px) {
	.themeSwitcher {
		color: white !important;
	}
}
