.themeSwitcher {
	width: 62px;
	height: 62px;
	border: none;
	padding: 10px;
	font-size: var(--font-size-m);
	font-weight: 700;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--primary-text-color);
	cursor: pointer;
}

.themeSwitcher svg {
	width: 35px;
	height: 35px;
}

@media screen and (max-width: 1024px) {
	.themeSwitcher {
		color: white !important;
	}
}
