@font-face {
    font-family: "GreyBold"; /* Гарнитура шрифта */
    src: url(../fonts/Greycliff/GreycliffCF-ExtraBold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "GreyHeavy";
    src: url(../fonts/Greycliff/GreycliffCF-Heavy.otf);
}

@font-face {
    font-family: "GreyRegular"; /* Гарнитура шрифта */
    src: url(../fonts/Greycliff/GreycliffCF-Regular.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "GreyMedium"; /* Гарнитура шрифта */
    src: url(../fonts/Greycliff/GreycliffCF-Medium.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "Roboto"; /* Гарнитура шрифта */
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2); /* Путь к файлу со шрифтом */
}

// ? ________________________________ C U S T O M   S C R O L L   T H U M B _______________________________________ ? //

html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
}
html::-webkit-scrollbar-track {
    background-color: #11121a;
}
html {
    font-size: 16px;
}

* {
    cursor: none;
}
// ? ________________________________ VARIABLES _______________________________________ ? //

$titleColor: #fafafa;
$subTitleColor: #d1d1d1;
$textColor: #d1d1d1;

$darkBackground: #171822;

body {
    background-color: white;
    cursor: none;
    user-select: none;
}

.cursor {
    position: fixed;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
}

#global-wrapper {
    background-color: #001b38;
}

// ? ________________________________ S E C T I O N   1 ____________________________________ ? //

.main-content_container {
    display: flex;
    flex-direction: row;

    min-height: 100vh;
    background-color: $darkBackground;
    color: #e4e6ec;

    &::before {
        position: absolute;
        bottom: -3px;
        z-index: 100000;
        content: "";
        display: block;
        height: 6px;
        left: 0;
        right: 0;
        background-color: #171822;
    }

    p {
        font-size: 1.25rem;
        color: $textColor;
        line-height: 30px;
        font-family: "Roboto";
        margin-bottom: 50px;

        b {
            font-weight: bold;
            color: rgb(225, 225, 225);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        flex: 1;
        padding: 0px clamp(1vw, 7vw, 7vw) 0px;

        h1 {
            font-size: 4rem;
            margin-bottom: 25px;
            font-family: "GreyHeavy";
            color: $titleColor;
        }

        .author {
            height: 55px;
            display: flex;
            align-items: center;
            width: max-content;
            text-decoration: none;
            margin-bottom: 25px;
            position: relative;
            padding-right: 15px;

            &:hover::after {
                width: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 0%;
                transition: 0.3s;
                height: 100%;
                background: white;

                z-index: -1;
            }
            &:hover .span-author {
                color: black;
                transition: 0.6s;
            }
            &:hover svg {
                opacity: 1;
                transition: 1s;
            }

            img {
                margin-right: 18px;
                height: 100%;
                box-sizing: border-box;
            }

            svg {
                opacity: 0;
                fill: black;
            }

            .span-author {
                position: relative;
                display: block;
                font-size: 20px;
                font-family: "GreyMedium";
                font-weight: bold;
                letter-spacing: 0.5px;
                line-height: 50px !important;
                color: $subTitleColor;
                margin-right: 15px;
                cursor: none;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 15%;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    background-color: white;
                    transition: 0.2s;
                }
            }
        }

        #container {
            width: max-content;
            display: flex;
            padding: 30px 50px;
            margin: -30px -50px;

            a {
                text-decoration: none;
                color: white;
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
            }

            button {
                border: none;
                width: max-content;
                position: relative;
                font-size: 20px;
                font-family: "GreyBold";

                padding: 15px 20px;
                display: flex;
                align-items: center;
                color: #ffffff;
                border: 3px solid white;
                background-color: transparent;
                letter-spacing: 0.5px;
                cursor: none;
                overflow: hidden;
                transition: 0.2s;
                cursor: none;

                &:hover {
                    box-shadow: inset 0px 0px 0px 2px white;
                    color: black;
                }

                &:hover::before {
                    width: 100%;
                    left: 0;
                }

                &::before {
                    transition: 0.4s;
                    position: absolute;
                    width: 0%;
                    height: 200%;
                    right: 0;
                    background-color: white;
                    content: "";
                }

                div {
                    position: relative;
                    display: inline-block;
                    padding: 2px 0;
                    padding: 0 25px;
                    animation: sliding 2.5s linear infinite;

                    &::after {
                        position: absolute;
                        width: max-content;
                        content: "my GitHub";
                        left: 100%;
                        padding: 0 25px;
                    }

                    @keyframes sliding {
                        100% {
                            transform: translateX(-100%);
                        }
                    }
                }
            }
        }
    }

    .main-image {
        background-image: url(../images/ReactRedux.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 2.3;
        margin: 30px;
        box-sizing: border-box;
    }
}

// ? ________________________________ S E C T I O N   2 ____________________________________ ? //

.main-content_container__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: white;
    background: $darkBackground;
    padding: 140px 10px 140px;
    box-sizing: border-box;

    p {
        font-size: 1.25rem;
        line-height: 30px;
        font-family: "Roboto";
        color: $textColor;
        text-align: center;
        max-width: 580px;

        &:not(:last-child) {
            margin-bottom: 70px;
        }

        b {
            font-family: "GreyBold";
        }
    }

    .content {
        display: flex;
        max-width: 800px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        h1 {
            font-size: 3rem;
            margin-bottom: 48px;
            font-family: "Greyheavy";
            text-align: center;
            max-width: 610px;
        }
        iframe {
            color: red;
            width: 100%;
            margin-bottom: 70px;
        }
    }

    .stack-container {
        margin-bottom: 50px;
        height: max-content;
        display: flex;

        span {
            font-size: 3.75rem;
            font-family: "GreyHeavy";
            color: rgb(255, 255, 255);
            padding: 0px 50px;

            &:not(:last-child) {
                border-right: 1px solid rgba(255, 255, 255, 0.09);
            }
        }
    }
}

// ? ________________________________ S E C T I O N   3 ____________________________________ ? //

.main-content_container__3 {
    height: 100vh;
    background: linear-gradient(90deg, #22cbff, #cc65ff, blue);
    position: relative;
    overflow: hidden;
    cursor: none;
    padding: 40px 0px;

    .content {
        .text-box {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            background-color: rgb(255, 255, 255);
            mix-blend-mode: screen;
            z-index: 1;

            h3 {
                font-size: 6rem;
                text-align: center;
                font-family: "GreyBold";
                position: relative;
                padding: 30px 0px;
                padding-bottom: 40px;

            }
        }

        .shapes {
            .shape {
                will-change: transform;
                position: absolute;
                border-radius: 50%;

                $shapes: (
                    #005ffe: 880px,
                    #3b8aff: 680px,
                    #5dc6ff: 480px,
                );
                @each $color, $size in $shapes {
                    &.shape-#{index($shapes, ($color $size))} {
                        background: $color;
                        width: $size;
                        height: $size;
                        margin: (-$size/2) 0 0 (-$size/2);
                        mix-blend-mode: overlay;
                    }
                }
            }
        }
    }
}

// ? ________________________________ S E C T I O N   4 ____________________________________ ? //

.main-content_container__4 {
    background-color: $darkBackground;
    position: relative;
    cursor: none;
    padding: 220px 0;

    .content {
        padding: 0px 50px;

        .info-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .col1 {
                flex: 1;
                max-width: 584px;
                margin: 0px 27px;

                .card {
                    #intro_h1 {
                        max-width: 100%;
                        margin-bottom: 50px;
                    }
                    #intro_p {
                        max-width: 100%;
                        font-size: 1.25rem;
                    }
                }

                .card:first-child {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-top: 0px;
                    box-shadow: none;
                    background: none;
                }
            }

            .col2 {
                flex: 1;
                max-width: 584px;
                margin: 0px 27px;
            }

            .card {
                min-width: 350px;
                padding: 60px;
                position: relative;
                box-sizing: border-box;
                background-color: #252638;
                margin-top: 55px;
                box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);

                &::before {
                    content: "";
                    position: absolute;
                    border: 20px solid transparent; /* Прозрачные границы */
                    border-top: 20px solid $darkBackground; /* Добавляем треугольник */
                    border-left: 20px solid $darkBackground; /* Добавляем треугольник */
                    left: 0;
                    top: 0;
                }

                h2 {
                    font-size: 1.45rem;
                    font-family: "GreyHeavy";
                    color: white;
                    margin-bottom: 11px;
                    letter-spacing: 2px;
                }

                h1 {
                    max-width: 280px;
                    color: #ffffff;
                    font-size: 2.65rem;
                    font-family: "GreyHeavy";
                    margin-bottom: 15px;
                    z-index: 1000;
                }

                .yellow {
                    color: #fdf986;
                }
                .blue {
                    color: #44bfe5;
                }
                .purple {
                    color: #ce79f0;
                }
                .green {
                    color: #7bc37a;
                }

                p {
                    color: white;
                    font-size: 1.125rem;
                    max-width: 280px;
                    font-family: "Roboto";
                    line-height: 1.6em;

                    margin-bottom: 40px;
                }

                ul {
                    li {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 2px solid #50527a23;

                        &::after {
                            content: "";
                            position: absolute;
                            border-bottom: 4px dotted #50527a;

                            width: 100%;
                            bottom: 0;
                        }

                        span {
                            font-size: 1.125rem;
                            font-family: "Roboto";
                            color: white;
                            width: 20px;
                            padding: 14px 0px 18px;

                            &:nth-child(2) {
                                flex: 1;
                                padding-left: 10px;
                            }

                            &:last-child {
                                color: rgba(255, 255, 255, 0.761);
                                font-size: 1rem;
                            }
                        }
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 50%;
                    transform: translate(10%, -15%);
                }
            }
        }
    }
}

// ? ________________________________ S E C T I O N   5 ____________________________________ ? //

.main-content_container__5 {
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 10;
    width: 100%;

    &::before {
        position: absolute;
        top: -3px;
        z-index: 5;
        content: "";
        display: block;
        height: 6px;
        left: 0;
        right: 0;
        background-color: $darkBackground;
    }
    &::after {
        position: absolute;
        bottom: -3px;
        z-index: 5;
        content: "";
        display: block;
        height: 6px;
        left: 0;
        right: 0;
        background-color: $darkBackground;
    }

    .content {
        display: flex;
        max-width: 900px;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        flex: 1;
        padding: 0px clamp(1vw, 5vw, 5vw) 0px;
        margin: 0 auto;

        h1 {
            font-size: clamp(2vw, 3.2rem, 10vw);
            margin: 50px 0px;
            font-family: "GreyHeavy";
            line-height: 1.2;
        }

        p {
            font-size: 19px;
            letter-spacing: 0.2px;
            line-height: 30px;
            font-family: "GreyRegular";
            margin-bottom: 70px;

            b {
                font-family: "GreyBold";
            }
        }
    }

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: none !important;
        img {
            width: 100%;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: white;
        border-radius: 0;
    }
    .swiper-pagination-bullet {
        background-color: white;
        border-radius: 0;
    }

    .swiper-slide {
        background-color: white;
    }
}

// ? ________________________________ S E C T I O N   6 ____________________________________ ? //

.main-content_container__6 {
    background-color: $darkBackground;

    .container {
        display: flex;
        height: 70vh;
        align-items: center;
        justify-content: center;

        .content {
            h1 {
                font-size: 4rem;
                font-family: "GreyHeavy";
                color: $titleColor;
                margin: 20px;
                max-width: 700px;
            }
        }
        .image-wrapper {
            img {
                width: 200px;
                display: block;
            }
        }
    }

    footer {
        background: #101118;
        padding: 150px 20px;

        .inner {
            display: flex;
            margin: 0px auto;
            flex-direction: row;
            max-width: 800px;
            justify-content: space-between;

            .column {
                width: max-content;
                .title {
                    font-family: "GreyHeavy";
                    color: $titleColor;
                    font-size: 1.125rem;
                    margin-bottom: 1em;
                }

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        line-height: 2em;
                        color: $textColor;
                        font-family: "Roboto";

                        &:hover {
                            text-decoration: underline;
                            color: $titleColor;
                        }

                        a {
                            text-decoration: inherit;
                            color: inherit;
                            font-family: inherit;
                        }
                        img {
                            margin-right: 10px;
                        }
                    }
                }
                .logo {
                    margin-top: -13px;
                    color: $titleColor;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-family: "GreyHeavy";
                    font-size: 1.125rem;
                    letter-spacing: 1px;

                    img {
                        width: 50px;
                        margin-right: 10px;
                    }

                    div {
                        margin-top: 3px;
                        font-size: 0.75rem;
                        font-family: "Roboto";
                        color: $textColor;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .swiper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1405px) {
    html {
        font-size: 14px;
    }
    .main-content_container__3 {
        height: 60vh;
    }
    .main-content_container__5 {
        flex-direction: column;
        .content {
            padding: 30px 10px 40px;
            h1 {
                margin-bottom: 20px;
            }
        }
    }
    .main-content_container__4 {
        padding: 120px 0;
        .content {
            padding: 0px;
            .info-container {
                .col1,
                .col2 {
                    margin: 0px 20px;
                }
                .card {
                    img {
                        width: 170px;
                        transform: translate(0%, -25%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 12px;
    }
    .main-content_container__4 {
        .content {
            .info-container {
                .col1,
                .col2 {
                    margin: 0px 10px;
                }
            }
        }
    }
    .main-content_container__6 {
        footer {
            .inner {
                flex-direction: column;
                .column {
                    margin-bottom: 30px;
                    ul {
                        li {
                            font-size: 1.3rem;
                        }
                    }
                    .logo {
                        font-size: 1.5rem;
                        div {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
