@charset "UTF-8";
@font-face {
  font-family: "GreyBold";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-ExtraBold.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "GreyHeavy";
  src: url(../fonts/Greycliff/GreycliffCF-Heavy.otf);
}

@font-face {
  font-family: "GreyRegular";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-Regular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "GreyMedium";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-Medium.otf);
  /* Путь к файлу со шрифтом */
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: #11121a;
}

body {
  background-color: white;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  background-color: white;
}

#global-wrapper {
  background-color: #001b38;
}

.main-content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  background-color: #171822;
  color: #e4e6ec;
}

.main-content_container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px clamp(1vw, 8vw, 8vw) 0px;
  margin-top: 185px;
}

.main-content_container .content h1 {
  font-size: clamp(3vw, 4rem, 4rem);
  margin-bottom: 25px;
  font-family: "GreyHeavy";
  color: #eeeeee;
}

.main-content_container .content .author {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  margin-bottom: 25px;
}

.main-content_container .content .author img {
  margin-right: 18px;
  margin-left: 2px;
  height: 100%;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content_container .content .author:hover img {
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
}

.main-content_container .content .author:hover .span-author {
  color: white;
}

.main-content_container .content .author:hover svg {
  fill: white;
}

.main-content_container .content .author:hover .span-author::before {
  width: 100%;
  left: 0;
}

.main-content_container .content .author svg {
  margin-bottom: -1px;
}

.main-content_container .content .author .span-author {
  position: relative;
  display: block;
  font-size: 20px;
  font-family: "GreyMedium";
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 50px !important;
  color: #d1d1d1;
  margin-right: 15px;
}

.main-content_container .content .author .span-author::before {
  content: "";
  position: absolute;
  bottom: 15%;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-content_container .content p {
  font-size: 1.125rem;
  color: #a8a8af;
  letter-spacing: 1px;
  line-height: 30px;
  font-family: "GreyMedium";
  margin-bottom: 50px;
}

.main-content_container .content p b {
  font-weight: bold;
  color: #e1e1e1;
}

.main-content_container .content p::after {
  content: "";
  display: block;
  width: 57%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 22px;
}

.main-content_container .content #container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  margin: -30px -50px;
}

.main-content_container .content #container a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-content_container .content #container button {
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  font-size: 20px;
  font-family: "GreyBold";
  border-radius: 100px;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border: 3px solid white;
  background-color: transparent;
  letter-spacing: 0.5px;
  cursor: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: none;
}

.main-content_container .content #container button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px white;
          box-shadow: inset 0px 0px 0px 2px white;
  color: black;
}

.main-content_container .content #container button:hover::before {
  width: 100%;
  left: 0;
}

.main-content_container .content #container button::before {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  width: 0%;
  height: 100%;
  right: 0;
  background-color: white;
  content: "";
  border-radius: 100px;
}

.main-content_container .content #container button div {
  position: relative;
  display: inline-block;
  padding: 2px 0;
  padding: 0 25px;
  -webkit-animation: sliding 2.5s linear infinite;
          animation: sliding 2.5s linear infinite;
}

.main-content_container .content #container button div::after {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  content: "my GitHub";
  left: 100%;
  padding: 0 25px;
}

@-webkit-keyframes sliding {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sliding {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main-content_container .main-image {
  background-image: url(../images/ReactRedux.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 2.3;
      -ms-flex: 2.3;
          flex: 2.3;
  margin: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content_container__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 800px;
  color: white;
  background: #171822;
}

.main-content_container__2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px clamp(1vw, 8vw, 8vw) 0px;
}

.main-content_container__2 .content h1 {
  font-size: clamp(2vw, 3.2rem, 10vw);
  margin-bottom: 30px;
  font-family: "GreyHeavy";
  text-align: center;
}

.main-content_container__2 .content p {
  font-size: 19px;
  letter-spacing: 0.2px;
  line-height: 30px;
  font-family: "GreyRegular";
  margin-bottom: 80px;
  text-align: left;
}

.main-content_container__2 .content p b {
  font-family: "GreyBold";
}

.main-content_container__2 .content p {
  font-family: "GreyMedium";
  margin-bottom: 10px;
  margin-top: 7px;
}

.main-content_container__2 .content h2 {
  font-size: 30px;
  font-family: "GreyHeavy";
  text-align: center;
  line-height: 1.5;
}

.main-content_container__2 .content h2 span {
  font-size: 60px;
}

.main-content_container__2 iframe {
  border-radius: 30px;
  margin: 0 auto;
}

.main-content_container__3 {
  height: 100vh;
  background-color: #2128bd;
  position: relative;
  overflow: hidden;
  cursor: none;
}

.main-content_container__3 .content .text-box {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  mix-blend-mode: screen;
  z-index: 1;
}

.main-content_container__3 .content .text-box h1 {
  font-size: 50px;
  font-family: "GreyMedium";
  margin-bottom: 40px;
  text-align: center;
}

.main-content_container__3 .content .text-box h3 {
  font-size: 100px;
  font-family: "GreyBold";
  text-align: center;
}

.main-content_container__3 .content .shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.main-content_container__3 .content .shapes .shape.shape-1 {
  background: #005ffe;
  width: 880px;
  height: 880px;
  margin: -440px 0 0 -440px;
}

.main-content_container__3 .content .shapes .shape.shape-2 {
  background: #3b8aff;
  width: 680px;
  height: 680px;
  margin: -340px 0 0 -340px;
}

.main-content_container__3 .content .shapes .shape.shape-3 {
  background: #5dc6ff;
  width: 480px;
  height: 480px;
  margin: -240px 0 0 -240px;
}

.main-content_container__4 {
  background-color: #171822;
  position: relative;
  cursor: none;
}

.main-content_container__4 .content {
  padding: 50px;
}

.main-content_container__4 .content .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.main-content_container__4 .content .info-container .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 480px;
  max-width: 584px;
  margin-right: 55px;
}

.main-content_container__4 .content .info-container .col1 .card #intro_h1 {
  max-width: 100%;
  margin-bottom: 50px;
}

.main-content_container__4 .content .info-container .col1 .card #intro_p {
  max-width: 100%;
  font-size: 1.25rem;
}

.main-content_container__4 .content .info-container .col1 .card:first-child {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.main-content_container__4 .content .info-container .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 480px;
  max-width: 584px;
}

.main-content_container__4 .content .info-container .card {
  padding: 60px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #252638;
  margin-top: 55px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
}

.main-content_container__4 .content .info-container .card h2 {
  font-size: 1.45rem;
  font-family: "GreyHeavy";
  color: white;
  margin-bottom: 11px;
  letter-spacing: 2px;
}

.main-content_container__4 .content .info-container .card h1 {
  max-width: 280px;
  color: #ffffff;
  font-size: 2.65rem;
  font-family: "GreyHeavy";
  margin-bottom: 15px;
}

.main-content_container__4 .content .info-container .card .yellow {
  color: #fdf986;
}

.main-content_container__4 .content .info-container .card .blue {
  color: #44bfe5;
}

.main-content_container__4 .content .info-container .card .purple {
  color: #ce79f0;
}

.main-content_container__4 .content .info-container .card .green {
  color: #7bc37a;
}

.main-content_container__4 .content .info-container .card p {
  color: white;
  font-size: 1.125rem;
  max-width: 280px;
  font-family: "GreyRegular";
  line-height: 1.6em;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
}

.main-content_container__4 .content .info-container .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px dotted #50527a;
}

.main-content_container__4 .content .info-container .card ul li span {
  font-size: 1.125rem;
  letter-spacing: 0.6px;
  font-family: "GreyMedium";
  color: white;
  width: 20px;
  padding: 13px 0px 15px;
}

.main-content_container__4 .content .info-container .card ul li span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
}

.main-content_container__4 .content .info-container .card ul li span:last-child {
  color: rgba(255, 255, 255, 0.761);
  font-size: 1rem;
}

.main-content_container__4 .content .info-container .card img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  -webkit-transform: translate(10%, -12%);
          transform: translate(10%, -12%);
}

.main-content_container__5 {
  background-color: white;
}

.main-content_container__5 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 120px clamp(1vw, 8vw, 8vw) 0px;
  margin: 0 auto;
}

.main-content_container__5 .content h1 {
  font-size: clamp(2vw, 3.2rem, 10vw);
  margin-bottom: 30px;
  font-family: "GreyHeavy";
  text-align: center;
  line-height: 1.2;
}

.main-content_container__5 .content p {
  font-size: 19px;
  letter-spacing: 0.2px;
  line-height: 30px;
  font-family: "GreyRegular";
  margin-bottom: 70px;
}

.main-content_container__5 .content p b {
  font-family: "GreyBold";
}

.main-content_container__6 {
  background-color: #171822;
}

.main-content_container__6 .text h1 {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content_container__6 .special-container {
  position: relative;
}

.main-content_container__6 .special-container .content-block {
  height: 90px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(0vw, 4.2vw, 10vw);
  margin: 0 auto;
  border-radius: 25px;
  background: #28293d;
  background-size: 200% 200%;
  color: white;
  font-size: 3rem;
  letter-spacing: 1px;
  font-family: "GreyBold";
  text-align: center;
}

.main-content_container__6 .special-container .content-block img {
  width: 120px;
  margin-right: 40px;
}

.main-content_container__6 .special-container .background {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: #101118;
  bottom: 0;
  z-index: -1;
  border-radius: 25px 25px 0px 0px;
}

.main-content_container__6 footer {
  height: 300px;
  background: #101118;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: white;
  border-radius: 0;
}

.swiper-slide:nth-child(4n) {
  background-color: #d0d0d0;
}

@media screen and (min-width: 1600px) {
  .swiper {
    width: 90%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */