@charset "UTF-8";
@font-face {
  font-family: "GreyBold";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-ExtraBold.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "GreyHeavy";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-Heavy.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "GreyRegular";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-Regular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "GreyMedium";
  /* Гарнитура шрифта */
  src: url(../fonts/Greycliff/GreycliffCF-Medium.otf);
  /* Путь к файлу со шрифтом */
}

body {
  background-color: white;
  cursor: none;
}

.cursor {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

.main-content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  background-color: #1B1C27;
  color: #E4E6EC;
}

.main-content_container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: clamp(1vw, 8vw, 8vw);
}

.main-content_container .content h1 {
  font-size: clamp(2vw, 4.3rem, 10vw);
  margin-bottom: 25px;
  font-family: "GreyHeavy";
  color: #E4E6EC;
}

.main-content_container .content h1 span {
  background: linear-gradient(45deg, white, #E4E6EC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content_container .content a {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  margin-bottom: 25px;
}

.main-content_container .content a img {
  margin-right: 18px;
  margin-left: 2px;
  height: 100%;
  border-radius: 20px;
}

.main-content_container .content a .span-author {
  display: block;
  font-size: 20px;
  font-family: "GreyMedium";
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 50px !important;
  color: #d1d1d1;
}

.main-content_container .content p {
  font-size: 19px;
  color: #9293a0;
  letter-spacing: 1px;
  line-height: 30px;
  font-family: "GreyMedium";
  margin-bottom: 50px;
}

.main-content_container .content p b {
  font-weight: bold;
}

.main-content_container .content p::after {
  content: "";
  display: block;
  width: 57%;
  height: 3px;
  background-color: rgba(131, 201, 255, 0.357);
  margin-top: 22px;
}

.main-content_container .content button {
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  font-family: "GreyBold";
  border-radius: 100px;
  padding: 22px 60px 24px;
  color: #ffffff;
  -webkit-box-shadow: -5px 13px 40px 16px rgba(0, 0, 0, 0.207);
          box-shadow: -5px 13px 40px 16px rgba(0, 0, 0, 0.207);
  background-color: #6798FF;
  letter-spacing: .5px;
  cursor: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-content_container .content button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.296);
          box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.296);
}

.main-content_container .main-image {
  background: center no-repeat url(/images/ReactRedux.png);
  background-size: cover;
  -webkit-box-flex: 2.3;
      -ms-flex: 2.3;
          flex: 2.3;
  margin: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content_container__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 800px;
  color: white;
  background: #11121a;
}

.main-content_container__2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 0px clamp(1vw, 8vw, 8vw) 0px;
  margin: 0 auto;
}

.main-content_container__2 .content h1 {
  font-size: clamp(2vw, 3.2rem, 10vw);
  margin-bottom: 50px;
  font-family: "GreyHeavy";
  text-align: center;
}

.main-content_container__2 .content p {
  font-size: 19px;
  letter-spacing: .2px;
  line-height: 30px;
  font-family: "GreyRegular";
  margin-bottom: 80px;
  text-align: left;
}

.main-content_container__2 .content p b {
  font-family: "GreyBold";
}

.main-content_container__2 .content p {
  font-family: "GreyMedium";
  margin-bottom: 50px;
  margin-top: 7px;
}

.main-content_container__2 .content h2 {
  font-size: 40px;
  font-family: "GreyHeavy";
  text-align: center;
}

.main-content_container__2 .content h2 span {
  font-size: 90px;
}

.main-content_container__2 iframe {
  border-radius: 30px;
  margin: 0 auto;
}

.main-content_container__3 {
  height: 100vh;
  background-color: #2128BD;
  position: relative;
  overflow: hidden;
  cursor: none;
}

.main-content_container__3 .content .text-box {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  mix-blend-mode: screen;
  z-index: 1;
}

.main-content_container__3 .content .text-box h3 {
  font-size: 90px;
  font-family: "GreyHeavy";
  text-align: center;
}

.main-content_container__3 .content .shapes .shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}

.main-content_container__3 .content .shapes .shape.shape-1 {
  background: #005FFE;
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
}

.main-content_container__3 .content .shapes .shape.shape-2 {
  background: #FFE5E3;
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
}

.main-content_container__3 .content .shapes .shape.shape-3 {
  background: #FFCC57;
  width: 270px;
  height: 270px;
  margin: -135px 0 0 -135px;
}

.main-content_container__4 {
  background-color: #1B1C27;
  position: relative;
  cursor: none;
}

.main-content_container__4 .content {
  padding: 50px;
}

.main-content_container__4 .content .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 400px;
  padding-top: 16vh;
  padding-bottom: 16vw;
}

.main-content_container__4 .content .info-container .col1 {
  width: 584px;
  margin-right: 50px;
}

.main-content_container__4 .content .info-container .col2 {
  width: 584px;
}

.main-content_container__4 .content .info-container .card {
  padding: 60px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #252638;
  margin-top: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
}

.main-content_container__4 .content .info-container .card h1 {
  max-width: 280px;
  color: #5fe2ff;
  font-size: 2.65rem;
  font-family: "GreyHeavy";
  margin-bottom: 15px;
}

.main-content_container__4 .content .info-container .card p {
  color: white;
  font-size: 1.125rem;
  max-width: 280px;
  font-family: "GreyMedium";
  line-height: 1.5em;
  letter-spacing: .6px;
  margin-bottom: 30px;
}

.main-content_container__4 .content .info-container .card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 4px dotted #50527A;
}

.main-content_container__4 .content .info-container .card ul li span {
  font-size: 1.125rem;
  letter-spacing: .6px;
  font-family: "GreyMedium";
  color: white;
  padding: 12px 0px 14px;
}

.main-content_container__4 .content .info-container .card ul li span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
}

.main-content_container__4 .content .info-container .card ul li span:last-child {
  color: rgba(255, 255, 255, 0.761);
}

.main-content_container__4 .content .info-container .card img {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(10%, -12%);
          transform: translate(10%, -12%);
}
/*# sourceMappingURL=styles.css.map */